<section>
  <title>Test section</title>
  <ul>
    <li>
      <title>Lorem, ipsum dolor.</title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus.
      </p>
    </li>
    <li>
      <title>Lorem, ipsum dolor.</title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus.
      </p>
    </li>
    <li>
      <title>Lorem, ipsum dolor.</title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus.
      </p>
    </li>
    <li>
      <title>Lorem, ipsum dolor.</title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus.
      </p>
    </li>
    <li>
      <title>Lorem, ipsum dolor.</title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus.
      </p>
    </li>
    <li>
      <title>Lorem, ipsum dolor.</title>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
        minus.
      </p>
    </li>
  </ul>
</section>
